<h1>New game </h1>

<div class="letters">
  <% @letters.each do |letter| %>
    <p class="letter"><%= letter %></p>
  <% end %>
</div>

<form action="/score" method="POST">
  <label for="word">What is the longest word you can find?</label>
  <div id="input">
    <input type="text" name="word">
    <input type="submit" value="Play">
    <%= hidden_field_tag :letters, @letters %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :user_id, session[:current_user_id] %>
  </div>
</form>
