// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

h1 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
.letters {
  width: 800px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.letter {
  padding: 16px;
  background-color: #3498DC;
  border: 1px solid #2274AA;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 15px lightgrey;

}

form {
  font-family: 'Roboto', sans-serif;
  width: 400px;
}

#input {
  margin: 16px 0;
  display: flex;
  height: 40px;
}

input[type="text"] {
  flex-grow: 2;
  border: 1px solid lightgrey;
  border-radius: 5px 0 0 5px;
  padding-left: 16px;
}

input[type="submit"] {
  border: 1px solid lightgrey;
  border-left: none;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 8px;
  border-radius: 0 5px 5px 0;
}

a {
  display: inline-block;
  margin: 32px 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
